.todo-list {
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.inp-text {
  margin-bottom: 10px;
  height: 37px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 15px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.sub-btn {
  padding: 0 15px;
  margin: 0 15px 15px 0;
  border: 1px solid #6c757d;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #6c757d;
  background-color: #fff;
  cursor: pointer;
}
.sub-btn:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.sub-btn:active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.div-output {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 15px;
  margin: 0 15px 15px 0;
}
.div-output .done {
  padding: 0 15px;
  margin: 0 15px 15px 5px;
  border: 1px solid #016d01;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background-color: green;
  cursor: pointer;
}
.div-output .done:hover {
  color: #fff;
  background-color: #0f6100;
  border-color: #000000;
}
.div-output .done:active {
  color: #fff;
  background-color: #0f6100;
  border-color: #000000;
}